#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "nocodb"
name = "NocoDB"
description.en = "No-code platform that turns any database into a smart spreadsheet"
description.fr = "Plateform sans code qui transforme toute base de données en un tableur intelligent"

version = "0.265.1~ynh1"

maintainers = ["tituspijean"]

[upstream]
license = "AGPL-3.0-only"
website = "https://www.nocodb.com"
demo = "https://www.nocodb.com/demos"
code = "https://github.com/nocodb/nocodb"

[integration]
yunohost = ">= 12.1.38"
helpers_version = "2.1"
architectures = ["amd64", "arm64"]
multi_instance = false

ldap = false
sso = false

disk = "50M"
ram.build = "450M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

    [install.init_main_permission]
    help.en = "The app has its own user login system, so you can disable YunoHost's SSO, especially if you use NocoDB's API."
    help.fr = "L'application a son propre système d'authentification, vous pouvez donc désactiver le SSO de YunoHost, particulièrement si vous utilisez l'API de NocoDB."
    type = "group"
    default = "visitors"

[resources]
    [resources.sources.main]
    amd64.url = "https://github.com/nocodb/nocodb/releases/download/0.265.1/Noco-linux-x64"
    amd64.sha256 = "7ee7f21ed90b7262d47d9d79179d8518c1dc88fec8ad2e4d4c040b50c6da7a1b"
    arm64.url = "https://github.com/nocodb/nocodb/releases/download/0.265.1/Noco-linux-arm64"
    arm64.sha256 = "491f2915aa9ad2ca5bf789c03d2aab493b6ff4818121def347acbcacc389f91e"
    rename = "nocodb"
    extract = false

    autoupdate.strategy = "latest_github_release"
    autoupdate.asset.amd64 = "Noco-linux-x64"
    autoupdate.asset.arm64 = "Noco-linux-arm64"

    [resources.system_user]
    allow_email = true

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"

    [resources.ports]

    [resources.apt]
    packages = [
        "mariadb-server",
        "redis-server"
    ]

    [resources.database]
    type = "mysql"
