[Unit]
Description=__APP__ daemon
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
Environment="__YNH_NODE_LOAD_PATH__"
EnvironmentFile=__FINALPATH__/.env
ExecStart=__YNH_NODE__ index.js
StandardOutput=append:/var/log/__APP__/__APP__.log
StandardError=inherit

[Install]
WantedBy=multi-user.target
